.footer {
    background-color: #222;
    color: #fff;
    padding: 2rem;
    text-align: center;
    bottom: 0;
    
    width: 100%;
}

.list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 2rem;
}

.list li {
    margin: 0 1rem;
}

.list li:hover{
    cursor: pointer;
    text-decoration: underline;
}