.container {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrinhoContainer {
  padding: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  width: 100%;
  max-width: 1200px;
}

.carrinhoItem {
  border: 1px solid gray;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgCard {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carrinhoTotal {
  margin-top: 50px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.cardContainer > div {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContainer h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.cardContainer p {
  font-size: 14px;
  color: #555;
}

.btn button {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.7);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn button:hover {
    background-color: red;
}
