.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  min-height: 75%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-size: 1.25rem;
  width: 100%;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1.5rem;
}

.item {
  margin-right: 1rem;
}

.title a,
.item a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: white;
  text-decoration: none;
}

.item input {
  color: #fff;
  font-size: 1rem;
  width: 100%;
  padding: 10px 5px 5px;
  background-color: #4f4f4f;
  border: none;
  border-radius: 4px;
}

.item .search {
  display: flex;
}

.search button {
  padding: 7px;
  font-size: 1rem;
  border-radius: 50%;
}

.search button:hover{
  cursor: pointer;
}

.title a:hover,
.item a:hover {
  color: cornflowerblue;
}
